/*-----------
    RESET
-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: "Poppins", sans-serif;
}

/*-----------
    DEBUG
-----------*/
.debug{
    border: 1px dashed black;
}
.bg-debug-sx{
    background-color: aqua;
    border: 1px dashed coral;
}
.bg-debug-dx{
    background-color: rgb(65, 196, 32);
    border: 1px dashed darkorange;
}

/*-----------
    UTILITY
-----------*/
.profile-img{
    border-radius: 100%;
}
.card-message{
    background-color: lightgray;
    padding: 16px 12px;
    border-radius: 10px;
}
.col-30{
    width: 30%;
}
.col-70{
    width: 70%;
}
.my-d-flex{
    display: flex;
}
.align-c{
    align-items: center;
}

/*-----------
    MAIN
-----------*/
.wrapper{
    width: 980px;
    height: 100vh;
    margin: 20px auto;
    flex-wrap: nowrap;
}

/* SECTION CHAT */
.picture-name img{
    max-width: 20%;
}
.profile-bar{
    background-color: #eaeaea;
    justify-content: space-between;
    padding: 10px;
}
.icons-state{
    justify-content: space-between;
    color: #b1b1b1;
}


