/*-----------
    RESET
-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom, #1B9688 150px, #DBDBD2 150px, #DBDBD2 100%);
}

/*-----------
    DEBUG
-----------*/
.debug{
    border: 1px dashed black;
}
.bg-debug-sx{
    background-color: aqua;
    border: 1px dashed coral;
}
.bg-debug-dx{
    background-color: rgb(65, 196, 32);
    border: 1px dashed darkorange;
}

/*-----------
    UTILITY
-----------*/
.profile-img{
    border-radius: 100%;
}
.picture-name img{
    max-width: 20%;
}
.card-message{
    background-color: lightgray;
    padding: 16px 12px;
    border-radius: 10px;
}
.col-30{
    width: 30%;
}
.col-70{
    width: 70%;
}
.my-d-flex{
    display: flex;
}
.align-c{
    align-items: center;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 10px 20px;
}

/*-----------
    MAIN
-----------*/
.wrapper{
    width: 980px;
    min-height: 700px;
    margin: 20px auto;
    flex-wrap: nowrap;
}
.chat{
    background-color: #fafafa;
}

/* TOP BAR */
.profile-bar{
    background-color: #eaeaea;
    justify-content: space-between;
}
.icons-state{
    justify-content: space-between;
    color: #b1b1b1;
}

/* NOTIFICATIONS */
.notifications{
 background-color: #8edafc;
}
.alarm-bell{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #f2fbff;
    justify-content: center;
    color: #8edafc;
    margin-right: 10px;
}
.text-notifications{
    font-size: 10px;
}
.text-notifications .text-push{
    color: #5887ab;
    text-decoration: underline;
}

/* SEARCH USER */
.search-user{
    padding: 5px;
    background-color: #fafafa;
}
.search-user .icon-search{
    background-color: #fff;
    min-width: 50px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: #b2b7b8;
    border: 1px solid lightgray;
}
.search-user input{
    border: 1px solid lightgray;
    width: 100%;
    padding-left: 10px;
}

/* USER CHAT */
.chat-user{
    max-height: calc(100vh - 160px); 
    overflow-y: auto;
}
.container-user .picture-name img{
    margin-right: 14px;
}
.container-user{
    border-top: 1px solid lightgray;
}

