/*-----------
    RESET
-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom, #1B9688 150px, #DBDBD2 150px, #DBDBD2 100%);
}

/*-----------
    DEBUG
-----------*/
.debug{
    border: 1px dashed black;
}
.bg-debug-sx{
    background-color: aqua;
    border: 1px dashed coral;
}
.bg-debug-dx{
    background-color: rgb(65, 196, 32);
    border: 1px dashed darkorange;
}

/*-----------
    UTILITY
-----------*/
.picture-name .profile-img{
    border-radius: 100%;
    max-width: 20%;
}
.card-message{
    background-color: lightgray;
    padding: 16px 12px;
    border-radius: 10px;
}
.col-30{
    width: 30%;
}
.col-70{
    width: 70%;
}
.col-10{
    width: 10%;
}
.col-80{
    width: 80%;
}
.col-50{
    width: 50%;
}
.my-d-flex{
    display: flex;
}
.align-c{
    align-items: center;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 10px 20px;
}
.bg-primary{
    background-color: #eaeaea;
}
.radius{
    border-radius: 12px;
}


/*-----------
    MAIN
-----------*/
.wrapper{
    width: 980px;
    min-height: 700px;
    margin: 20px auto;
    flex-wrap: nowrap;
}
.chat{
    background-color: #fafafa;
}

/* TOP BAR CHAT*/
.profile-bar{
    height: 50px;
    justify-content: space-between;
}
.icons-state{
    justify-content: space-between;
    color: #b1b1b1;
}

/* NOTIFICATIONS */
.notifications{
 background-color: #8edafc;
}
.alarm-bell{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #f2fbff;
    justify-content: center;
    color: #8edafc;
    margin-right: 10px;
}
.text-notifications{
    font-size: 10px;
}
.text-notifications .text-push{
    color: #5887ab;
    text-decoration: underline;
}

/* SEARCH USER */
.search-user{
    padding: 5px;
    background-color: #fafafa;
}
.search-user .icon-search{
    background-color: #fff;
    min-width: 50px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: #b2b7b8;
    border: 1px solid lightgray;
}
.search-user input{
    border: 1px solid lightgray;
    width: 100%;
    padding-left: 10px;
}

/* USER CHAT */
.chat-user{
    max-height: calc(100vh - 160px); 
    overflow-y: auto;
}
.container-user .picture-name img{
    margin-right: 14px;
}
.container-user{
    border-top: 1px solid lightgray;
}

/* TOP BAR MESSAGE */
.message .picture-name .profile-img{
    height: 100%;
    margin-right: 10px;
}
.message .icons-state i{
    margin: 0 10px;
}

/* MAIN READING MESSAGES */
.main-message{
    height: calc(100% - 100px);
    background-image: url("../img/mine.jpg");
    padding: 35px;
    flex-direction: column;
    gap: 10px;
}
.message-send{
    background-color: #d5f9ba;
    align-self: flex-end;
}
.message-received{
    background-color: #fff;
    align-self: flex-start;
}

/* BAR SEND MESSAGE */
.message-writing{
    height: 50px;
    text-align: center;
    color: #6b7273;
    padding: 6px 0;
}
.message-writing input{
    height: 100%;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
}

/*-----------
   HOVER
-----------*/
.container-user:hover{
    background-color: #e9ebeb;
    cursor: pointer;
}

